<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>

    <h2 class="center">Sympl</h2> 
  <form enctype="multipart/form-data" action="index.php" method="POST">
    <input type="hidden" name="MAX_FILE_SIZE" value="20000000" />
    <input type="submit" value="Add" />
  </form>
    <div class="center">
      <label for="a"></label>
      <input id="a" name="a" type="file">
    </div>
    
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
</ion-content>
